<% @users.each do |user| %>
<article class="user">
  <div class="user-img">
      <h1><%= user.photo %></h1>
  </div>
  <div>
    
  </div>
  <div>
    
  </div>
    <div class="content">
      <div  class="user-name">
        <h4><%= user.name %></h4>
      </div>
      <div  class="number-of-post">
        <p>Number of post is: <%= user.post.length %></p>
      </div>
  </div>
</article>
<% end %> 
