/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://media.istockphoto.com/photos/white-backdrop-for-your-product-studio-floor-background-blank-gray-picture-id873550744?k=20&m=873550744&s=170667a&w=0&h=ek0pFX3yyieWnvdQNPOycAFgK55yBJFwEutxJb49UkI=");
}
